 #header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
  font-weight: bold; 
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;
} 

#subheader h1{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
  	font-size: 150%;
  	font-weight: bold;
}
 
#content{
	width: 94%;
}

.containers {
	background-color: grey;
	padding: 5px;
	border: 1px solid black;
	margin: 3%;
	top: 60px;
	height: 1000px;
	position: relative;
}

h2{
	text-align: center;
	font-size:	125%;
}
