 #header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
  font-weight: bold; 
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;
} 

#subheader {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
  	font-size: 1em;
  	font-weight: bold;
}
 
.containers {
	background-color: grey;
	padding: 5px;
	border: 1px solid black;
	margin: 10px;
	height: 1000px;
}

h2{
	text-align: center;
	font-size:	0.8em;
}

p{
	font-size: 0.8em;
}